In [1]:
import numpy as np
import pandas as pd

### Import training and testing data

In [2]:
trainin = pd.read_csv("trainingset.csv")
testin = pd.read_csv("testset.csv")
testinraw = testin 
comin = trainin.append(testin)
ytrainraw = comin['job_performance'][0:20000]
comin = comin.drop('job_performance', axis=1)
r,c = comin.shape
r,c

(40000, 379)

### Remove features contain too many NaN

In [3]:
comin = comin.dropna(axis=1,thresh = 20000) # decrease the number of nan to be <row size /2 in a column
r,c = comin.shape
r,c

(40000, 235)

###  Extract numerical features, convert their NaN into mean

In [4]:
comnum = comin.select_dtypes(include=[np.float32,np.int32,np.float64,np.int64], exclude=None)
comnum = comnum.columns.values.tolist()
comnum = comin[comnum]
comnum = comnum.fillna(comnum.mean())
r,c = comnum.shape
r,c

(40000, 35)

### Extract categorical features, convert their NaN into mode, and convert them using One Hot Encoding

In [5]:
comstr = comin.select_dtypes(include=None, exclude=[np.float32,np.int32,np.float64,np.int64])
comstrmode = comstr.mode()
for column in comstr:
    eachcol = comstr[column]
    eachmode = comstrmode[column][0]
    eachcol.fillna(eachmode, inplace=True)
comstr = pd.get_dummies(comstr)
r,c = comstr.shape
r,c

(40000, 2686)

### Combine processed numerical and categorical features

In [6]:
comin = pd.concat([comnum,comstr],axis=1)
r,c = comin.shape
r,c

(40000, 2721)

### From coorelation between features and the lebal, only keep the ones above 0.1

In [7]:
import seaborn as sns
corrtoy = pd.concat([ytrainraw ,comin[0:20000]],axis=1)
corrtoy = corrtoy.corr() 
corrtoy = corrtoy['job_performance']
corrtoy = np.abs(corrtoy)

In [8]:
ftokeep = corrtoy[corrtoy > 0.1] 
ftokeep = list(ftokeep.index)
del ftokeep[0]
comin = comin.loc[:,ftokeep]
r,c = comin.shape
r,c

(40000, 241)

### Extract Training Data, Validating Data and Testing Data

In [9]:
from sklearn.model_selection import train_test_split
testin = comin[20000:40000]

trainin = pd.concat([ytrainraw ,comin[0:20000]],axis=1)
trainin, validatein = train_test_split(trainin, test_size = 0.2)

y_train = trainin[['job_performance']]
x_train = trainin.drop('job_performance', axis=1)

y_validate = validatein[['job_performance']]
x_validate = validatein.drop('job_performance', axis=1)

### Machine Learning task using Random Forest

In [10]:
from sklearn.ensemble import RandomForestRegressor
modelforest = RandomForestRegressor(random_state=10,n_estimators=61)
modelforest.fit(x_train,np.ravel(y_train))

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=61, n_jobs=None,
           oob_score=False, random_state=10, verbose=0, warm_start=False)

In [11]:
from sklearn.metrics import mean_squared_error 
y_predict = modelforest.predict(x_validate)
mse = mean_squared_error(y_predict, y_validate)
print("Random Forest Mean Squared Error: ", round(mse, 2))

Random Forest Mean Squared Error:  29592.19

### Output labels for testing data

In [12]:
y_submit = modelforest.predict(testin)
testinraw['job_performance'] = y_submit
testinraw

,cntryid,cntryid_e,age_r,gender_r,computerexperience,nativespeaker,edlevel3,monthlyincpr,yearlyincpr,lng_home,...,v85,v50,v89,v127,v239,v224,v71,v105,row,uni
0,Ireland,Ireland,25.0,Female,Yes,Yes,High,50 to less than 75,50 to less than 75,999,...,Strongly agree,Agree,NaN,NaN,9999.0,9996.0,9999.0,9996.0,196612,UNI_Author
1,Canada,Canada (English),NaN,Female,Yes,No,High,25 to less than 50,25 to less than 50,999,...,Agree,Agree,NaN,NaN,9999.0,9996.0,9999.0,9999.0,7579,UNI_Author
2,Germany,Germany,NaN,Female,Yes,Yes,Medium,NaN,NaN,999,...,Strongly agree,Strongly agree,NaN,NaN,9996.0,9999.0,9996.0,9999.0,24646,UNI_Author
3,Finland,Finland,18.0,Female,Yes,Yes,Low,NaN,NaN,fin,...,Disagree,Neither agree nor disagree,NaN,NaN,9996.0,9999.0,9996.0,9999.0,77790,UNI_Author
4,United Kingdom,England (UK),61.0,Female,Yes,Yes,High,NaN,NaN,eng,...,Disagree,Agree,NaN,NaN,9996.0,9996.0,9996.0,9996.0,123782,UNI_Author
5,Spain,Spain,52.0,Female,Yes,Yes,Low,NaN,NaN,spa,...,Neither agree nor disagree,Agree,NaN,NaN,9999.0,9996.0,9999.0,9996.0,15334,UNI_Author
6,Germany,Germany,NaN,Male,Yes,Yes,Low,NaN,NaN,999,...,Agree,Agree,NaN,NaN,9996.0,9996.0,9996.0,9996.0,3050,UNI_Author
7,Korea,Korea,41.0,Male,Yes,Yes,High,90 or more,90 or more,kor,...,Neither agree nor disagree,Agree,NaN,NaN,7322.0,9996.0,1812.0,9996.0,95729,UNI_Author
8,United States,United States,NaN,Female,Yes,No,High,25 to less than 50,25 to less than 50,999,...,Disagree,Strongly agree,NaN,NaN,9999.0,9996.0,9999.0,9996.0,27113,UNI_Author
9,United States,United States,NaN,Female,Yes,Yes,Low,NaN,NaN,999,...,Strongly agree,Strongly agree,NaN,NaN,9996.0,9996.0,9996.0,9996.0,146202,UNI_Author
10,Russian Federation,Russian Federation,16.0,Female,Yes,Yes,Low,NaN,NaN,999,...,Strongly agree,Strongly agree,NaN,NaN,7313.0,9996.0,3211.0,9996.0,151482,UNI_Author
11,Spain,Spain,53.0,Male,Yes,Yes,Low,NaN,NaN,spa,...,Agree,Strongly agree,NaN,NaN,9996.0,8332.0,9996.0,3830.0,188207,UNI_Author
12,France,France,23.0,Female,Yes,Yes,High,NaN,NaN,fra,...,Strongly agree,Disagree,NaN,NaN,9996.0,9996.0,9996.0,9996.0,135803,UNI_Author
13,Poland,Poland,54.0,Female,Yes,Yes,Medium,NaN,NaN,pol,...,Strongly agree,Strongly agree,NaN,NaN,9996.0,9996.0,9996.0,9996.0,112563,UNI_Author
14,Italy,Italy,54.0,Male,Yes,Yes,Medium,75 to less than 90,75 to less than 90,999,...,Agree,Agree,NaN,NaN,7422.0,9996.0,591.0,9996.0,169909,UNI_Author
15,Germany,Germany,NaN,Female,Yes,No,Medium,NaN,NaN,999,...,Agree,Agree,NaN,NaN,9996.0,9996.0,9996.0,9996.0,20452,UNI_Author
16,France,France,38.0,Male,Yes,Yes,Medium,25 to less than 50,50 to less than 75,fra,...,Strongly agree,Agree,NaN,NaN,3343.0,9996.0,5520.0,9996.0,46335,UNI_Author
17,Japan,Japan,27.0,Male,Yes,Yes,High,25 to less than 50,25 to less than 50,jpn,...,Strongly agree,Strongly disagree,NaN,NaN,7231.0,9996.0,4510.0,9996.0,108884,UNI_Author
18,United States,United States,NaN,Male,No,Yes,Low,10 to less than 25,10 to less than 25,999,...,Agree,Disagree,NaN,NaN,9999.0,9996.0,9999.0,9996.0,54462,UNI_Author
19,Germany,Germany,NaN,Male,Yes,Yes,Low,10 to less than 25,Less than 10,999,...,Agree,Strongly agree,NaN,NaN,9999.0,9996.0,9999.0,9996.0,43505,UNI_Author
20,United States,United States,NaN,Female,Yes,Yes,Medium,NaN,NaN,999,...,Agree,Agree,NaN,NaN,9996.0,9999.0,9996.0,9999.0,1847,UNI_Author
21,Japan,Japan,43.0,Male,Yes,Yes,Medium,50 to less than 75,50 to less than 75,jpn,...,Neither agree nor disagree,Neither agree nor disagree,NaN,NaN,9129.0,9996.0,8129.0,9996.0,171289,UNI_Author
22,Korea,Korea,33.0,Male,Yes,Yes,High,75 to less than 90,75 to less than 90,kor,...,Agree,Agree,NaN,NaN,2149.0,9996.0,7110.0,9996.0,59021,UNI_Author
23,United States,United States,NaN,Male,Yes,Yes,Medium,75 to less than 90,75 to less than 90,999,...,Agree,Agree,NaN,NaN,9999.0,9996.0,9999.0,9996.0,168431,UNI_Author
24,United States,United States,NaN,Female,No,Yes,Medium,NaN,NaN,999,...,Agree,Agree,NaN,NaN,9996.0,9999.0,9996.0,9999.0,91970,UNI_Author
25,United States,United States,NaN,Female,Yes,Yes,High,50 to less than 75,50 to less than 75,999,...,Agree,Agree,NaN,NaN,9999.0,9996.0,9999.0,9996.0,96781,UNI_Author
26,France,France,38.0,Male,Yes,No,Medium,25 to less than 50,25 to less than 50,pol,...,NaN,NaN,NaN,NaN,7131.0,9996.0,4390.0,9996.0,9325,UNI_Author
27,Japan,Japan,17.0,Male,Yes,Yes,Low,NaN,NaN,jpn,...,Disagree,Disagree,NaN,NaN,9996.0,9996.0,9996.0,9996.0,101888,UNI_Author
28,United States,United States,NaN,Female,Yes,No,High,90 or more,90 or more,999,...,Strongly agree,Agree,NaN,NaN,9999.0,9996.0,9999.0,9996.0,158523,UNI_Author
29,Japan,Japan,57.0,Female,Yes,Yes,Medium,NaN,NaN,jpn,...,Disagree,Disagree,NaN,NaN,9996.0,9996.0,9996.0,9996.0,166270,UNI_Author
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19970,Israel,Israel,34.0,Female,Yes,Yes,High,50 to less than 75,50 to less than 75,heb,...,Disagree,Disagree,NaN,NaN,3352.0,9996.0,8430.0,9996.0,39867,UNI_Author
19971,Turkey,Turkey,27.0,Male,Yes,Yes,High,75 to less than 90,75 to less than 90,999,...,NaN,NaN,NaN,NaN,7411.0,9996.0,8411.0,9996.0,45145,UNI_Author
19972,Turkey,Turkey,35.0,Male,Yes,Yes,Low,NaN,NaN,999,...,NaN,NaN,NaN,NaN,9996.0,9996.0,9996.0,5510.0,27724,UNI_Author
19973,Japan,Japan,38.0,Male,Yes,Yes,High,90 or more,90 or more,jpn,...,Agree,Neither agree nor disagree,NaN,NaN,2433.0,9996.0,2660.0,9996.0,19340,UNI_Author
19974,Italy,Italy,39.0,Male,Yes,Yes,Low,NaN,NaN,999,...,Strongly agree,Strongly agree,NaN,NaN,2512.0,9996.0,6201.0,9996.0,19332,UNI_Author
19975,France,France,30.0,Male,Yes,Yes,Medium,NaN,NaN,fra,...,Neither agree nor disagree,Agree,NaN,NaN,9996.0,9312.0,9996.0,4210.0,98643,UNI_Author
19976,France,France,30.0,Male,Yes,Yes,Medium,NaN,NaN,fra,...,Strongly agree,Agree,NaN,NaN,7512.0,9996.0,1071.0,9996.0,130857,UNI_Author
19977,United States,United States,NaN,Male,Yes,Yes,Medium,NaN,NaN,999,...,Strongly agree,Strongly agree,NaN,NaN,9996.0,9999.0,9996.0,9999.0,154801,UNI_Author
19978,United States,United States,NaN,Male,Yes,Yes,Medium,NaN,NaN,999,...,Strongly agree,Strongly agree,NaN,NaN,9996.0,9999.0,9996.0,9999.0,120038,UNI_Author
19979,Japan,Japan,22.0,Male,Yes,Yes,High,NaN,NaN,jpn,...,Strongly agree,Neither agree nor disagree,NaN,NaN,9996.0,9996.0,9996.0,9996.0,171605,UNI_Author
19980,Japan,Japan,17.0,Female,Yes,Yes,Medium,NaN,NaN,jpn,...,Agree,Disagree,NaN,NaN,9996.0,9996.0,9996.0,9996.0,106246,UNI_Author
19981,Germany,Germany,NaN,Male,Yes,Yes,Medium,75 to less than 90,50 to less than 75,999,...,Disagree,Neither agree nor disagree,NaN,NaN,9999.0,9996.0,9999.0,9996.0,145642,UNI_Author
19982,United States,United States,NaN,Male,Yes,Yes,Medium,25 to less than 50,25 to less than 50,999,...,Agree,Strongly agree,NaN,NaN,9999.0,9996.0,9999.0,9996.0,78904,UNI_Author
19983,Germany,Germany,NaN,Female,Yes,No,Low,NaN,NaN,999,...,Strongly agree,Agree,NaN,NaN,9996.0,9996.0,9996.0,9996.0,111222,UNI_Author
19984,Japan,Japan,61.0,Male,Yes,Yes,Medium,NaN,NaN,jpn,...,Neither agree nor disagree,Neither agree nor disagree,NaN,NaN,6113.0,9996.0,9311.0,9996.0,105116,UNI_Author
19985,Japan,Japan,42.0,Female,Yes,Yes,Medium,Less than 10,Less than 10,jpn,...,Neither agree nor disagree,Neither agree nor disagree,NaN,NaN,5321.0,9996.0,8810.0,9996.0,48145,UNI_Author
19986,Russian Federation,Russian Federation,55.0,Female,Yes,Yes,Medium,NaN,NaN,999,...,Neither agree nor disagree,Agree,NaN,NaN,9996.0,9112.0,9996.0,8121.0,88457,UNI_Author
19987,United Kingdom,England (UK),43.0,Female,Yes,Yes,Medium,10 to less than 25,10 to less than 25,eng,...,Strongly agree,Agree,ISCED 3C 2 years or more,ISCED 3C 2 years or more,5311.0,9996.0,8521.0,9996.0,178106,UNI_Author
19988,Russian Federation,Russian Federation,52.0,Male,Yes,Yes,High,NaN,NaN,999,...,Strongly agree,Strongly agree,NaN,NaN,9996.0,9996.0,9996.0,9996.0,151075,UNI_Author
19989,Poland,Poland,36.0,Female,Yes,Yes,Low,NaN,NaN,pol,...,Agree,Agree,NaN,NaN,9996.0,9996.0,9996.0,9996.0,55146,UNI_Author
19990,United States,United States,NaN,Male,Yes,Yes,Medium,50 to less than 75,50 to less than 75,999,...,Agree,Agree,NaN,NaN,9999.0,9996.0,9999.0,9996.0,60404,UNI_Author
19991,United States,United States,NaN,Male,Yes,Yes,Medium,75 to less than 90,75 to less than 90,999,...,Strongly agree,Agree,NaN,NaN,9999.0,9996.0,9999.0,9996.0,20861,UNI_Author
19992,Turkey,Turkey,60.0,Male,Yes,Yes,High,NaN,NaN,999,...,NaN,NaN,NaN,NaN,9996.0,5221.0,9996.0,4711.0,37806,UNI_Author
19993,Japan,Japan,25.0,Male,Yes,Yes,Medium,Less than 10,Less than 10,jpn,...,Agree,Agree,NaN,NaN,2355.0,9996.0,8542.0,9996.0,48192,UNI_Author
19994,Russian Federation,Russian Federation,48.0,Male,No,Yes,Medium,75 to less than 90,75 to less than 90,999,...,Agree,Neither agree nor disagree,NaN,NaN,712.0,9996.0,41.0,9996.0,148013,UNI_Author
19995,France,France,38.0,Male,No,Yes,Low,NaN,NaN,fra,...,Agree,Strongly agree,NaN,NaN,9996.0,9312.0,9996.0,8890.0,77678,UNI_Author
19996,United States,United States,NaN,Male,Yes,No,Medium,10 to less than 25,25 to less than 50,999,...,Strongly agree,Agree,NaN,NaN,9999.0,9996.0,9999.0,9996.0,66957,UNI_Author
19997,Korea,Korea,28.0,Male,Yes,Yes,High,25 to less than 50,25 to less than 50,kor,...,Strongly disagree,Agree,NaN,NaN,4110.0,9996.0,6910.0,9996.0,175111,UNI_Author
19998,Italy,Italy,43.0,Female,No,Yes,Low,NaN,NaN,999,...,Strongly agree,Strongly agree,NaN,NaN,9520.0,9996.0,4782.0,9996.0,66737,UNI_Author
19999,United Kingdom,England (UK),52.0,Male,Yes,Yes,Low,25 to less than 50,25 to less than 50,eng,...,Strongly agree,Strongly agree,NaN,NaN,8322.0,9996.0,5320.0,9996.0,113458,UNI_Author

In [13]:
testinraw.to_csv('testset-UNI_Author-submission.csv',index=None)